* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

body {
  font-family: "rubik", sans-serif;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header__bg {
  background: #3e8989;
}

nav {
  max-width: 1140px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  padding-top: 37px;
  padding-bottom: 37px;
}

.nav__list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
}

.nav__item {
  font-weight: 500;
  color: #fff;
  border-bottom: 3px solid transparent;
  transition: 0.2s all;
  padding-bottom: 5px;
}

.nav__item:hover {
  border-bottom: 3px solid #fff;
}
.header__title {
  width: 100%;
  height: calc(100vh - 100px);
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}
h1 {
  font-size: 80px;
}
header p {
  font-size: 40px;
  font-weight: 600px;
  margin-bottom: 30px;
}
header button {
  max-width: 200px;
  width: 100%;
  height: 50px;
  font-size: 18px;
  border-radius: 40px;
  color: #fff;
  background: #b4436c;
  border: none;
  font-weight: 600;
  font-family: "inter", sans-serif;
}
header button:hover {
  color: #b4436c;
  background: #fff;
  border: none;
  font-size: 18px;
}
.main__desc {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.main__heading {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #3e8989;
  margin: 100px auto 50px auto;
  text-align: center;
}
.main__desctxt {
  font-size: 18px;
  text-align: left;
  padding: 20px;
  display: flex;
  flex-basis: 40%;
  flex-grow: 1;
}
.main__descpic {
  flex-basis: 50%;
  flex-grow: 1;
}

.main__descpic img {
  min-width: 545px;
  width: 100%;
  object-fit: cover;
  height: 100%;
  display: block;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  height: max-content;
}

.catalog__img {
  background: #efefef;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalog__item {
  flex-basis: 23%;
  text-align: center;
}

.catalog__link {
  display: inline-block;
  margin: auto;
  text-align: center;
  margin-top: 30px;
  font-size: 24px;
  font-weight: 600;
  color: #000;
}

.catalog__title {
  width: 100%;
}

.catalog__item:hover .catalog__link {
  color: #b4436c;
  transition: 500ms;
}
.contacts {
  margin: 100px auto 50px auto;
}
.contacts__heading {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #3e8989;
}

.contacts__info {
  display: flex;
  justify-content: space-between;
  font-family: "Rubik";
  font-size: 20px;
  flex-wrap: wrap;
  padding-top: 50px;
}
.contacts__desc {
  text-align: left;
}
.contacts__phone {
  margin-bottom: 20px;
  color: #000;
}
.contacts a {
  color: #000;
  font-style: normal;
}
.footer__bg {
  background: #3e8989;
}
.footer__list {
  display: flex;
  gap: 30px;
}
.footer__item {
  color: #fff;
}
.footer__info {
  display: flex;
  padding-top: 32px;
  padding-bottom: 83px;
  justify-content: space-between;
}
